extends layout

block style
  link(rel='stylesheet', href='/styles/index.css')

block content
  section
    button#camera-btn.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
      i.material-icons photo_camera
  section
    button#roll-btn.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
      i.material-icons camera_roll

block script
  script(type='text/javascript', src='/scripts/index.js')
