html,body {
  width: 100%;
  height: 100%;
  background-color: rgb(63,81,181);
}

#intro-area {
  width: 100%;
  height: 100%;
  p {
    padding: 40px;
    color: white;
    font-size: 30px;
  }
}

#picture-area {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  .picture-background {
    padding: 30px 0;
  }
  #upload-btn {
    width: 120px;
  }
}

#thanks-area {
  display: none;
  width: 100%;
  height: 100%;
  p {
    padding: 40px;
    color: white;
    font-size: 30px;
  }
}

#camera-area {
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  #camera-btn {
    position: relative;
    #image-file {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      height: 100%;
      width:  100%;
      opacity: 0;
    }
  }
}
