html,body {
  color: white;
  background-color: rgb(63,81,181);
}

.none {
  display: none;
}

.mdl-button--raised {
  background: white;
}

#intro-area {
  padding: 20px 0;
  text-align: center;
  h3 {
    margin: 24px 20px;
  }
  .material-icons {
    font-size: 300px;
  }
}

#picture-area {
  padding: 20px 0;
  text-align: center;
  .picture-background {
    padding: 20px 0 10px 0;
  }
  .spinner {
    visibility: hidden;
  }
  .mdl-button {
    width: 120px;
    margin: 10px 15px 60px 15px;
  }
}

#thanks-area {
  padding: 20px 0;
  text-align: center;
  h3 {
    margin: 24px 20px;
  }
  .material-icons {
    font-size: 300px;
  }
}

#camera-area {
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-align: center;
  #camera-btn {
    position: relative;
    #image-file {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      height: 100%;
      width:  100%;
      opacity: 0;
    }
  }
}
